---
layout: layouts/base.njk
title: "Blog"
---
<h1>Blog</h1>
<p>Thoughts on technology, creative coding, and project development.</p>
<div class="grid-container">
  {% for post in collections.posts %}
    <a class="card" href="{{ post.url }}">
      <h2>{{ post.data.title }}</h2>
      <p>{{ post.data.summary }}</p>
      <time datetime="{{ post.date | date('YYYY-MM-DD') }}">{{ post.date | date('MMMM DD, YYYY') }}</time>
    </a>
  {% endfor %}
</div> 