---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>
<time datetime="{{ date | date('YYYY-MM-DD') }}">{{ date | date('MMMM DD, YYYY') }}</time>
<article>
  {{ content | safe }}
</article>
<nav>
  <p>
    {% if page.previous %}← <a href="{{ page.previous.url }}">{{ page.previous.data.title }}</a>{% endif %}
    {% if page.next %}{% if page.previous %} · {% endif %}<a href="{{ page.next.url }}">{{ page.next.data.title }}</a> →{% endif %}
  </p>
</nav> 